footer{
  margin: 5px;
  background-color: #303030;
  color: #FFFFFF;
}
fieldset{
  margin: 10px;
  height: 200px;
}
legend{
  font-size: 20px;
  font-weight: bolder;
  color: #FFFFFF;
}
.container{
    padding: 20px;
}
.map, .box{
    height: 60vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box{
  
  padding: 70px;
  height: 500px;
}
iframe{
  width: 100%;
}
.map{
  width: auto;
  height: 500px;
}